<h1>Update Profile</h1>
<h1> This is login/Signup </h1>
<form action="{% url 'update_profile' %}" method="POST">
    {% csrf_token %}
    <p>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
    </p>
    <p>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname">
    </p>
    <p>
        <label for="">Email:</label><br>
        <input type="email" id="lname" name="email">
    </p>
    <p>
        <label for="">Mobile no:</label><br>
        <input type="text" id="lname" name="mobile">
    </p>
    <p>
        <label for="">College:</label><br>
        <input type="text" name="college"><br>
    </p>
    <p>
        <label for="">Password:</label><br>
        <input type="password" name="password" id="">
    </p>
    <button type="submit">submit</button>
</form>